<h1>Welcome to Awesome Answers</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, nesciunt quae! Totam quae expedita maiores reprehenderit distinctio unde repudiandae at quis. Est perspiciatis, adipisci iste nulla at molestias inventore facilis?</p>
<%= image_tag 'incoming', style: 'width: 100%; border-radius: 20px;' %>